#name {
  font-size: 16pt;
}

input[type=text], select {
    width: 25%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 25%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

table.board {
  table-layout:fixed;
  border: 3px solid black;
  width: 300px;
  height: 300px;
  text-align: center;
  border-collapse: collapse;
}
table.board td, table.board th {
  word-wrap: break-word;
  border: 1px solid blue;
  padding: 5px 4px;
  overflow: hidden;
}