{% load rest_framework %}
{% load static %}

<html>
    <head>
        <link rel="stylesheet" href="{% static 'ttt/login.css' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    </head>
    <body>
        <div class="login-page">
            <div class="form">
                <form class="register-form" method="POST">
                    {% csrf_token %}
                    {{ signupform }}
                    <button type="submit">Sign Up</button>
                    <p class="message">Already registered? <a href="#">Sign In</a></p>
                </form>
                <form class="login-form" method="POST">
                    {% csrf_token %}
                    {{ loginform }}
                    <button type="submit">Login</button>
                    <p class="message">Not registered? <a href="#">Create an account</a></p>
                </form>
            </div>
        </div>
        <script src="{% static 'ttt/login.js' %}"></script>
    </body>
</html>
