{% load rest_framework %}
{% load static %}

<html>
    <head>
        <link rel="stylesheet" href="{% static 'ttt/login.css' %}">
    </head>
    <body>
        <div class="login-page">
            <div class="form">
                <form class="register-form" method="POST">
                    {% csrf_token %}
                    {{ signupform }}
                    <button type="submit" name="register-form">Sign Up</button>
                    <p class="message">Already registered? <a href="login">Sign In</a></p>
                </form>
            </div>
        </div>
    </body>
</html>
